body {
  font-family: 'Roboto', 'sans-serif';
  
 }

 header {
  width: 100%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); 
}

header .main-nav li {
  list-style: none;
  display: inline-block;
}